[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = {extras = ["security"], version = "*"}
beautifulsoup4 = "*"
aiohttp = "*"
httpx = "*"
stem = "*"
fake-useragent = "*"
httpx-socks = {extras = ["asyncio"], version = "*"}
xlsxwriter = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
